<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/Hopo.css" />
  </styleBundle>
  <styleBundle path="~/Content/jquery">
    <include path="~/Content/jQuery/themes/hopo.css" />
    <include path="~/Content/jQuery/themes/jquery.mobile.icons.min.css" />
    <include path="~/Content/jQuery/jquery.mobile.structure-1.4.5.css" />
    <include path="~/Content/jQuery/jquery.mobile-1.4.5.css" />
  </styleBundle>
</bundles>